body {
	margin: 0px;
	padding: 0px;
	height: 800px;
	width: 1440px;
	background-color: grey;}

.class{
	padding: 40px;
	height: 750px;
	width: 410px;
	background-color: white;
	margin-top: 2px;
	margin-right: 565px;
	margin-bottom: 50px;
	margin-left: 465px;	}

.name{
	padding: 20px 60px 0px 110px;
	font-weight: bold;
	font-size: 15px;
	text-align: center;}

.rang{
	padding: 0px 130px 10px 130px;
	font-size: 15px;
	text-align: center;
	border-bottom: 2px solid black;
	font-weight: normal;
	}

.desire{
	padding: 0px 10px 10px 10px;
	font-size: 15px;
	text-align: left;
	border-bottom: 2px solid black;
	font-weight: normal;
}

.spisok{
	line-height: 1.5;
	font-size: 15px;
	font-weight: normal;
	}

.kontakti{
	padding: 0px 10px 10px 10px;
	list-style-type: none;
	font-size: 15px;
	font-weight: normal;
	line-height: 1.5;		
		}

.kontakt{
	padding: 0px 10px 10px 10px;
	list-style-type: none;
	font-size: 15px;
	font-weight: normal;
	line-height: 1.5;		
	border-bottom: 2px solid black;
		}

.last{
	padding: 0px 10px 10px 10px;
	list-style-type: none;
	font-size: 15px;
	font-weight: normal;
	line-height: 1.5;	
}

